// 
// Colors
// 

// Override Bootstrap color systel colors

$blue: #00BFE6;
$purple: #9f1ae2;

$red-gold: #F9A602;
$gold: gold;
$black: #000000;
$watermelon: #FF744C;
// Override Bootstrap default state colors

$primary: $blue;
$secondary: $gold;
$least-secondary: $watermelon;
